
<div x-ui-utils x-google ng-controller="Google" id="google_main">

  <div role="tabpanel" class="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="javascript:void(0)"
           data-target="#search"
           aria-controls="search"
           role="tab"
           data-toggle="tab">Search</a>
      </li>
      <li role="presentation">
        <a href="javascript:void(0)"
           data-target="#items"
           aria-controls="items"
           role="tab"
           ng-show="results.items.length"
           data-toggle="tab">Results <span class="badge">{{results.items.length}}</span></a>
      </li>
      <li role="presentation">
        <a href="javascript:void(0)"
           data-target="#collected"
           aria-controls="collected"
           role="tab"
           ng-show="collected.length"
           data-toggle="tab">Collected <span class="badge">{{collected.length}}</span></a>
      </li>
      <li role="presentation">
        <a href="javascript:void(0)"
           data-target="#trash"
           aria-controls="trash"
           role="tab"
           ng-show="trash.length"
           data-toggle="tab">Trash <span class="badge">{{trash.length}}</span></a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="search">
        <div class="jumbotron">

          <form x-form-utils name="google-search" class="form-horizontal">

            <fieldset>
              <div class="form-group">
                <div class="col-sm-10">
                  <input id="search" class="form-control input-lg" placeholder="Google search" autofocus ng-model="query.q">
                </div>
                <div class="col-sm-2">
                  <input type="submit" class="btn btn-lg btn-primary" value="Okay">
                </div>
              </div>

              <div class="btn-group form-group" role="group" aria-label="Search Controls">
                <div class="col-sm-12">
                  <div class="btn-group" role="group">
                    <button class="btn btn-default dropdown-toggle" type="button" id="snippets_menu" data-toggle="dropdown" aria-expanded="true">
                      Add a query snippet
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="snippets_menu">
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="addSnippet('site:'); focusField('#search')">
                          site:
                        </a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="addSnippet('allintitle:'); focusField('#search')">
                          allintitle:
                        </a>
                      </li>
                      <li role="presentation">
                        <a role="menuitem" tabindex="-1" href="javascript:void(0)" ng-click="addSnippet('filetype:'); focusField('#search')">
                          filetype:
                        </a>
                      </li>
                    </ul>
                  </div>
                  <button type="button"
                          class="btn btn-default"
                          data-toggle="collapse"
                          data-target="#saved_searches"
                          aria-expanded="false"
                          aria-controls="saved_searches">Load a saved search</button>
                  </div>
                </div>
            </fieldset>

            <fieldset class="collapse form-group" id="saved_searches">
              <div class="col-sm-12">
                <ul class="list-inline">
                  <li ng-repeat="query in queries">
                    <button ng-click="loadQuery(query.hash, switchTab, [1])" class="btn btn-default btn-sm">{{query.query}}</button>
                  </li>
                </ul>
              </div>
            </fieldset>

          </form>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane results" ng-show="results.items.length" id="items">
        <div class="page-header">
          <h1><small>{{results.query}}</small></h1>
        </div>
        <div class="panel panel-default" ng-repeat="(key, item) in results.items">
          <div class="panel-heading">
            <h3 class="panel-title"><a ng-href="{{item.link}}">{{item.title}}</a></h3>
          </div>
          <div class="panel-body">
            <p>{{item.snippet}}</p>
            <div>{{item.link}}</div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-sm btn-warning" ng-click="deleteQueryItem(key,item)">Trash</button>
            <button type="button" class="btn btn-sm btn-primary" ng-click="collectQueryItem(key,item);">Collect</button>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane collected" id="collected">

        <div class="panel panel-default" ng-repeat="(key, item) in collected">
          <div class="panel-heading">
            <h3 class="panel-title"><a ng-href="{{item.link}}">{{item.title}}</a></h3>
          </div>
          <div class="panel-body">
            <p>{{item.snippet}}</p>
            <div>{{item.link}}</div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-sm btn-primary" ng-click="removeCollectedItem(key,item)">Reject</button>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane trash" id="trash">

        <div class="panel panel-default" ng-repeat="(key, item) in trash">
          <div class="panel-heading">
            <h3 class="panel-title"><a ng-href="{{item.link}}">{{item.title}}</a></h3>
          </div>
          <div class="panel-body">
            <p>{{item.snippet}}</p>
            <div>{{item.link}}</div>
          </div>
          <div class="panel-footer">
            <button type="button" class="btn btn-sm btn-primary" ng-click="restoreQueryItem(key,item)">Restore</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
